{{ form_start(addressForm) }}

    {{ form_row(addressForm.firstLine) }}
    {{ form_row(addressForm.secondLine) }}

    <button type="submit" class="button button--save">Save</button>

{{ form_end(addressForm) }}