/*
GLOBAL BASE
A Base rule is applied to an element using an element selector,
a descendent selector, or a child selector, along with any pseudo-classes.
It doesn't include any class or ID selectors. It is defining the default
styling for how that element should look in all occurrences on the page.
http://smacss.com/book/type-base
*/

/* stylelint-disable selector-no-type */

html {

    /* apply natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/ */
    box-sizing: border-box;

    /*
    base font typography
    set font so 1 = 10px (base 10)
    always set unit-less line-height - http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/
    Prevent font scaling in landscape while allowing user zoom
    */
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 62.5%; /* stylelint-disable-line declaration-property-unit-whitelist */
    line-height: 1;
    text-size-adjust: 100%;

}

*,
*::before,
*::after {
    /* Inheriting box-sizing - http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

/* Responsive media elements */
img,
embed,
object,
video {
    height: auto;
    max-width: 100%;
}

/* fix element display in IE10/11 (lacks some html5 elements) */
main {
    display: block;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440 */
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

/* remove default styling */
[type=text],
button,
select,
textarea {
    appearance: none;
    border-radius: 0;
}

/* http://davidwalsh.name/firefox-buttons */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
remove “X” from search input
http://geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html
*/
/* stylelint-disable */
input[type=text]::-ms-clear {
    display: none;
    height: 0;
    width : 0;
}
input[type=text]::-ms-reveal {
    display: none;
    height: 0;
    width : 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* stylelint-enable */
